aside {
	display: table-cell;
	width: 300px;
	vertical-align: top;
	margin-bottom: 20px;
}

aside section
{
	margin-bottom: 10px;

}

aside .vevent
{
	margin-top: 10px;
	margin-bottom: 10px;
}

aside h3
{
	 margin-bottom: 0.25em;
	letter-spacing: 0.1em;
}

#below
{
	display: table;
	margin-top: 15px;
}

#below article
{
	display: table-row;
}

#below section
{
	display: table-cell;
	width: 330px;
	background-color: #2F4259;
}

#below header
{
	margin:10px;
}


#below img
{
	width: 290px;
	margin: 20px;
}

#below h3
{
	font-size: 1.1em;
	margin: 0 20px;
}

#below p
{
	margin: 20px;
}
 
aside h3, aside h4
{
	margin-bottom: 0.5em;
}

#content {
	display: table;
}

#main {
	display: table-cell;
	
	padding-right: 22px;
}

#main section
{
	margin: 30px 50px 30px 0px;
	background-color: #2F4259;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-moz-border-radius-topright: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
}

#main hgroup
{
	padding: 10px;
	width: 630px;
}

#main section h3
{
	margin-bottom: 0;
}



.post img {
	margin: 22px 0;
	box-shadow: 3px 3px 7px #777;
}

.vevent abbr{border:0}

body
{
	width: 1000px;
}

footer
{
	margin: 0 20px;
}

header h1
{
	font-size: 5em;
	margin-bottom: 0.25em;
	letter-spacing: 0.1em;
}

html
{
	background: #1F2833;
	
}

body
{
	color: white;
}

a, a:visited
{
	color: #728FB8;
}

a:hover
{
	color: #B8CFF2;
	text-decoration: none;
}

/*
1F2833
2F4259
728FB8
B8CFF2
DEE9F5

*/