aside {
	display: table-cell;
	width: 300px;
	vertical-align: top;
}

aside section
{
	margin-bottom: 10px;

}

aside .vevent
{
	margin-top: 10px;
	margin-bottom: 10px;

}

#below
{
	display: table;
	
}

#below article
{
	display: table-row;
}

#below section
{
	display: table-cell;
	width: 450px;

}

#below img
{
	margin: 20px;
}

#below h3
{
	font-size: 1.1em;
	margin: 0 20px;
}

#below p
{
	margin: 20px;
}
 
aside h3, aside h4
{
	margin-bottom: 0.5em;
}

#content {
	display: table;
}

#main {
	display: table-cell;
	min-width: 620px;
	padding-right: 22px;
}

#main section
{
	margin: 20px 0;
}

#main section h3
{
	margin-bottom: 0;
}



.post img {
	margin: 22px 0;
	box-shadow: 3px 3px 7px #777;
}

.vevent abbr{border:0}

body
{
	width: 1000px;
}

footer
{
	margin: 0 20px;
}