---
layout: frontpage
---


	<section id="main">

		{{ content }}


		{% for ps in site.posts limit:4 %}
			<section>
				<header class="post-header">
					<hgroup>
					    <p class="date">{{ ps.date | date:"%d-%m-%Y"}}</p>
					    {% if  ps.icon %}
					    <img src="{{ps.icon}}" style="width: 625px;	height: 150px;" />
					    {% else %}
						 <img src="/img/main/1.jpg" />
					    {% endif %}
						<h3><a href="{{ ps.url }}">{{ ps.title }}</a></h3>

						<p>{{ps.description}}</p>
					</hgroup>
				</header>
			</section>
		{% endfor %}

	</section>


	<aside role="complementary">
		<section role="timestamp">
		 	<b>Last updated</b> - {% render_time  %}
		</section>

		<section role="about">
			<header>
				<h3>about</h3>
			</header>

			<article>
				Brendan is a semi-nomadic software developer. When he's not working for Readify, you might find him dabbling in various open source projects or hanging out with others in the Aussie dev community - sometimes up the front presenting, sometimes up the back heckling, and sometimes holding down the bar at the after party.
			</article>

			<article>
				Brendan gets paid to cover a broad range of technologies in the Microsoft space - ASP.NET, WPF, Silverlight, WP7 and others - and working with teams to make the most of these technologies.
			</article>

		</section>
		<section>
			<header>
				<h3>things of note</h3>
			</header>

			{% tag_cloud %}

		</section>
		<section>
			<header>
				<h3>find me at</h3>
			</header>

			<div class="vevent">
				<div style="background:white">
					<a href="http://www.buildwindows.com/" class="summary url"><img src="/img/main/build_logo.png" /></a> 
				</div>
				 <span class="summary">I'll be attending the <a href="http://www.buildwindows.com/" class="summary url">BUILD conference</a> in 
				 	<span class="location">Los Angeles, CA, USA</span>
				 	from <abbr class="dtstart" title="2011-09-12">Sept 12</abbr> 
				 	- <abbr class="dtend" title="2011-09-16">Sept 16</abbr>, 2011.
				 </span>
			</div>

			<div class="vevent">
				<div>
					<a href="http://www.dddbrisbane.com/" class="summary url"><img src="/img/main/dddbrisbane.png" /></a>
				</div>
				 <span class="summary">
				 	<abbr class="dtstart" title="2011-11-26">26th November</abbr>, 2011 
				 		<br /> (Hopefully) speaking on Windows 8
				</span>
			</div>

			<div class="vevent">
				<img src="/img/main/6.jpg" width="200" />
				<h4>YOW Open Spaces Event</h4>
				 <span class="summary">I'll be heckling and/or helping at <a href="#" class="summary url">the Open Spaces event</a> in 
				 	<span class="location">Melbourne, Australia</span>
				 	on <abbr class="dtstart" title="2011-09-03">3 Decemeber</abbr>, 2011.
				</span>
			</div>

		</section>
	</aside>

	
	<section id="below">
	
		<article role="main">
	 	{% for ps in site.posts offset:4 limit:3 %}
			<section>
				<header class="post-header">
					<hgroup>
						<p class="date">{{ ps.date | date:"%Y-%m-%d"}}</p>
					    {% if  ps.icon %}
					    <img src="{{ps.icon}}" />
					    {% else %}
						 <img src="/img/main/1.jpg" />
					    {% endif %}
						<h3><a href="{{ ps.url }}">{{ ps.title }}</a></h3>
					</hgroup>
				</header>
			</section>
		{% endfor %}
		</article>

		<article role="main">
	 	{% for ps in site.posts offset:7 limit:3 %}
			<section>
				<header class="post-header">
					<hgroup>
						<p class="date">{{ ps.date | date:"%Y-%m-%d"}}</p>
					    {% if  ps.icon %}
					    <img src="{{ps.icon}}" />
					    {% else %}
						 <img src="/img/main/1.jpg" />
					    {% endif %}
						<h3><a href="{{ ps.url }}">{{ ps.title }}</a></h3>
					</hgroup>
				</header>
			</section>
		{% endfor %}
		</article>

		<article role="main">
	 	{% for ps in site.posts offset:10 limit:3 %}
			<section>
				<header class="post-header">
					<hgroup>
						<p class="date">{{ ps.date | date:"%Y-%m-%d"}}</p>
					    {% if  ps.icon %}
					    <img src="{{ps.icon}}" />
					    {% else %}
						 <img src="/img/main/1.jpg" />
					    {% endif %}
						<h3><a href="{{ ps.url }}">{{ ps.title }}</a></h3>
					</hgroup>
				</header>
			</section>
		{% endfor %}
		</article>

	</section>

</div>

<footer role="contentinfo" class="clearfix">

	<p>
  		<a href="#"><h4>...and there's probably more in the archives...</h4></a>
	</p>

 
</footer>
