---
layout: frontpage
---

	<section id="main">

		{{ content }}

		{% for ps in site.posts limit:4 %}
			<article>
				<header class="post-header">
					<hgroup>
					    <p class="date">{{ ps.date | date:"%d-%m-%Y"}}</p>
					    {% if  ps.icon %}
					    <a href="{{ ps.url }}"><img src="{{ps.icon}}" style="width: 625px;	height: 150px;" /></a>
					    {% else %}
						 <img src="/img/main/1.jpg" />
					    {% endif %}
						<h3><a href="{{ ps.url }}">{{ ps.title }}</a></h3>

						<p>{{ps.description}}</p>
					</hgroup>
				</header>
			</article>
		{% endfor %}
	</section>


	<aside role="complementary">
		<article role="timestamp">
			<header>
				<h3>latest update</h3>
			</header>

			<section>
				{% render_time  %}
			</section>
		
		 	<section>
				I'll be updating my old posts once I get the urge. In the meantime, I'm making random notes on Windows 8 <a href="/build">here</a>.
			</section>
		</article>
		
		<article>
			<header>
				<h3>find me at</h3>
			</header>
			<div class="vevent">
				<p>
					<a href="http://blogs.msdn.com/b/dglover/archive/2011/10/13/windows-phone-developer-workshop-perth-nov-19th-and-20th-2011.aspx" class="summary url"><img src="/img/main/wp7-logo.jpg" /></a> 
				<br />
				 <span class="summary">I'll be helping out at the <a href="http://blogs.msdn.com/b/dglover/archive/2011/10/13/windows-phone-developer-workshop-perth-nov-19th-and-20th-2011.aspx" class="summary url">WP7 Developer Workshop </a> in 
				 	<span class="location">Perth, Australia</span>
				 	from <abbr class="dtstart" title="2011-11-19">Nov 19</abbr> 
				 	and <abbr class="dtend" title="2011-11-20">Nov 20</abbr>, 2011. Signup <a href="http://blogs.msdn.com/b/dglover/archive/2011/10/13/windows-phone-developer-workshop-perth-nov-19th-and-20th-2011.aspx">here</a>.
				 </span>
				 </p>
			</div>
			<div class="vevent">
				<p>
					<a href="http://www.dddbrisbane.com/" class="summary url"><img src="/img/main/dddbrisbane.png" style="background: white" /></a>
				    <br />
				 <span class="summary">
				 	I'll be speaking on "Windows 8 - Who Moved My Cheese?" at dddBrisbane on <abbr class="dtstart" title="2011-11-26">Nov 26</abbr>, 2011. Details <a href="http://brendanforster.com/ddd-brisbane.html">here</a>.
				</span>
				</p>
			</div>
			<div class="vevent">
				<a href="http://ozaltnetopenspaces.squarespace.com/"><h4>Oz ALT.NET Open Spaces</h4></a>
				<p>
				 <span class="summary">I'll be heckling and/or helping at the <a href="http://ozaltnetopenspaces.squarespace.com/" class="summary url">Open Spaces </a> event in <span class="location">Melbourne, Australia</span> on <abbr class="dtstart" title="2011-09-03">3 Decemeber</abbr>, 2011.
				</span>
				</p>
			</div>
		</article>
		
		<article role="about">
			<header>
				<h3>about</h3>
			</header>

			<section>
				By day, I'm a Senior Developer with <a href="http://readify.net">Readify</a> in Sydney, Australia. I work with clients using technologies including ASP.NET, WPF, Silverlight and WP7 - and help development teams to make the most of these technologies.
			</section>

			<section>
				Outside of work, you'll likely find me hanging out in the community - sometimes up the front presenting, sometimes up the back heckling, and sometimes holding down the bar at the after party.
			</section>
			
			<section>
				Currently trying to find time to invest in some open source projects again, like <a href="http://www.mahtweets.com">MahTweets</a> and <a href="http://github.com/MahApps/Hanoi">Hanoi</a>. And some other things which I'm keeping to myself for the moment...
			</section>

		</article>
		
		<article>
			<header>
				<h3>things of note</h3>
			</header>

			{% tag_cloud %}

		</article>
	</aside>

	
	<section id="below">
	
		<article role="main">
	 	{% for ps in site.posts offset:4 limit:3 %}
			<section>
				<header class="post-header">
					<hgroup>
						<p class="date">{{ ps.date | date:"%Y-%m-%d"}}</p>
					    {% if  ps.icon %}
					    <img src="{{ps.icon}}" />
					    {% else %}
						 <img src="/img/main/7.jpg" />
					    {% endif %}
						<h3><a href="{{ ps.url }}">{{ ps.title }}</a></h3>
					</hgroup>
				</header>
			</section>
		{% endfor %}
		</article>

		<article role="main">
	 	{% for ps in site.posts offset:7 limit:3 %}
			<section>
				<header class="post-header">
					<hgroup>
						<p class="date">{{ ps.date | date:"%Y-%m-%d"}}</p>
					    {% if  ps.icon %}
					    <img src="{{ps.icon}}" />
					    {% else %}
						 <img src="/img/main/9.jpg" />
					    {% endif %}
						<h3><a href="{{ ps.url }}">{{ ps.title }}</a></h3>
					</hgroup>
				</header>
			</section>
		{% endfor %}
		</article>

		<article role="main">
	 	{% for ps in site.posts offset:10 limit:3 %}
			<section>
				<header class="post-header">
					<hgroup>
						<p class="date">{{ ps.date | date:"%Y-%m-%d"}}</p>
					    {% if  ps.icon %}
					    <img src="{{ps.icon}}" />
					    {% else %}
						 <img src="/img/main/7.jpg" />
					    {% endif %}
						<h3><a href="{{ ps.url }}">{{ ps.title }}</a></h3>
					</hgroup>
				</header>
			</section>
		{% endfor %}
		</article>

	</section>

</div>

<footer role="contentinfo" class="clearfix">

	<p>
  		<a href="#"><h4>and there's probably more in the archives...</h4></a>
	</p>

 
</footer>
