<!DOCTYPE HTML>
<html>
	<head>
		<title>brendan forster</title>
		<meta charset="utf-8" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		{% include resources.html %}
	</head>

	<body>
		<div id="wrapper">
				<header id="header">
					<h1><a href="/">brendan forster</a></h1>
					<nav class="links">
						<ul>
							<li><a href="/now/">Now</a></li>
							<li><a href="/projects/">Projects</a></li>
							<li><a href="/notes/">Drafts &amp; Notes</a></li>
							<li><a href="/blog/">Archive</a></li>
						</ul>
					</nav>
				</header>

				<div id="main">
						{% for ps in site.posts limit:10 %}
						<article class="post">
							<header class="summary">
								<div class="title">
									<h2><a href="{{ps.url}}">{{ps.title}}</a></h2>
									{% if ps.date <> nil %}
									<div class="meta">
										<time class="published" datetime="{{ ps.date | date_to_xmlschema }}">{{ ps.date | date_to_long_string }}</time>
									</div>
									{% endif %}
									<p class="description">	{{ps.description}}</p>
								</div>
							</header>
						</article>
						{% endfor %}
			 </div>


			<section id="sidebar">

					<section id="intro">
						<a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
						<header>
							<h2>brendan forster</h2>
						</header>
					</section>

					<section class="blurb">
						<p>I work for GitHub. I live somewhere in Australia. I'm involved
							with various open source projects. I should blog more.</p>

						<ul class="icons">
							<li><a href="https://twitter.com/shiftkey" class="fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://instagram.com/theshiftkey" class="fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="/atom.xml" class="fa-rss"><span class="label">Atom</span></a></li>
							<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</section>

				<!-- Posts List -->
					<section>
						<ul class="posts">
							<li>
								<article>
									<header>
										<h3><a href="#">Lorem ipsum fermentum ut nisl vitae</a></h3>
										<time class="published" datetime="2015-10-20">October 20, 2015</time>
									</header>
									<a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
								</article>
							</li>
							<li>
								<article>
									<header>
										<h3><a href="#">Convallis maximus nisl mattis nunc id lorem</a></h3>
										<time class="published" datetime="2015-10-15">October 15, 2015</time>
									</header>
									<a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
								</article>
							</li>
							<li>
								<article>
									<header>
										<h3><a href="#">Euismod amet placerat vivamus porttitor</a></h3>
										<time class="published" datetime="2015-10-10">October 10, 2015</time>
									</header>
									<a href="#" class="image"><img src="images/pic10.jpg" alt="" /></a>
								</article>
							</li>
							<li>
								<article>
									<header>
										<h3><a href="#">Magna enim accumsan tortor cursus ultricies</a></h3>
										<time class="published" datetime="2015-10-08">October 8, 2015</time>
									</header>
									<a href="#" class="image"><img src="images/pic11.jpg" alt="" /></a>
								</article>
							</li>
							<li>
								<article>
									<header>
										<h3><a href="#">Congue ullam corper lorem ipsum dolor</a></h3>
										<time class="published" datetime="2015-10-06">October 7, 2015</time>
									</header>
									<a href="#" class="image"><img src="images/pic12.jpg" alt="" /></a>
								</article>
							</li>
						</ul>
					</section>

				<!-- Footer -->
					<section id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
					</section>
			</section>
	</body>
</html>
