<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		{% include resources.html %}
	</head>
	<body class="subpage">
		<div id="header-wrapper">
			<header id="header" class="5grid 5grid-container">
				<div class="row">
					<div class="12u">
						<h1><a href="/" id="logo">brendan forster</a></h1>
						<nav id="nav">
							<a href="/projects/">Projects</a>
							<a href="/blog/">Blog</a>
							<a href="/notes/">Drafts &amp; Notes</a>
						</nav>
					</div>
				</div>
			</header>
		</div>

		<div id="content-wrapper">
			<div id="content">
				<div class="5grid 5grid-container">
					<div class="row">
						<div class="12u">
							<section>
								<header>
									<h2>{{page.title}}</h2>
									<h3>{{page.description}}</h3>
								</header>
								{{content}}
								<ul>
									{% for ps in site.pages %}
										{% unless ps.url contains '/notes/' %}
											{% continue %}
										{% endunless %}

										{% if ps.url == '/notes/index.html' %}
										 	{% continue %}
										{% endif %}

										 <li><a href="{{ ps.url }}">{{ps.date | date: "%Y-%m-%d" }} - {{ps.title}}</a></li>
									{% endfor %}
								</ul>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include copyright.html %}
		{% include analytics.html %}
	</body>
</html>
