---
layout: frontpage
---

<style type="text/css">

.archive_list
{
	list-style-type: none;
}

.archive_list .summary
{
	margin-bottom: 0.5em;
}

.tag_list
{
	list-style-type: none;
	 padding-left: 0px;
}

.tag_list li
{
	margin: 0;
	margin-left: 10px;
	margin-right: 10px;
	padding:0;
	float: left;
}

</style>


<ul>
	{% for post in site.posts %}
	{% for tag in post.tags %}
	{% if tag == page.tag %}
	<li class="archive_list">
		<time class="archive_list_post_date" datetime='{{post.date | date: "%Y-%m-%d"}}' style="float:right">
			{{post.date | date: "%m/%e/%y"}}
		</time>
		<h3 class="archive_list_header">
			<a class="archive_list_article_link" href='{{post.url}}'>{{post.title}}</a>
		</h3>
		<p class="summary">{{post.description}}</p>
		<span style="float:left">Tags:</span>
		<ul class="tag_list">
		{% for tag in post.tags %}
			<li class="inline archive_list"><a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a></li>
		{% endfor %}
		</ul>
	</li>
	{% endif %}
	{% endfor %}
	{% endfor %}
</ul>